html{
	background-color:rgba(0, 43, 102);
}

td{
	height: 55px;
	vertical-align: center;
	
}

th{
	vertical-align: center;
	column-width: auto;
	column-span: all;
}

#page0,#page1,#page2,#page3,#page4,#page5,#page6{
	
	color: yellow;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif" ;
	font-size: 20px;
	
}

table{
	background-color:rgba(0, 43, 102);
}

h1,h3{
	color: black;
}
#logo{
	width: 350px;
	height: 130px;
}

#menu{
	width:100%;	
	 vertical-align: bottom;
}

#logoTable{
	width: 100%;
	height:auto;
}
	
.container{
	margin-left: 5px;
	margin-right: 5px;
}

.col{
	border: 2px solid red;
	border-left-color: aqua;
	border-right-color: aqua;
	border-left-style: double;
	border-right-style: double;
	
    border-radius: 20px;
}
thead{
	vertical-align: bottom;
	text-align: center;
	width: 100%;
}

#page0,#page1,#page2,#page3,#page4,#page5,#page6{
	background-color: gray;
}

a:link{
	color: yellow;
}

a:visited{
	color: yellow;
}

#textLink:link{
	text-decoration-line: underline;
}

.greeting{

	vertical-align:center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: black;
	background-color: whitesmoke;
	height: 100%;
	background: url("img/bglogo.jpg");
}
#fullTextTable{

	height: 100%;
}
#textLink{

	color: blue;
}
#bglogo{
	width: 40%;
}
#szolgTable{
	background-color: whitesmoke;
}